body{
margin:0;
font-family:Arial;
background:#f4f4f4;
}

.container{
display:flex;
height:100vh;
}

/* LEFT */

.left{

width:50%;
background:#177f9e;
color:white;
padding:80px;

}

.logo{
font-size:70px;
font-weight:bold;
}

.left h1{
font-size:70px;
font-weight:bold;
}

.left h2{
font-size:28px;
margin-top:20px;
}

/* RIGHT */

.right{

width:50%;
background:#f0f0f0;
display:flex;
flex-direction:column;
justify-content:center;
padding:80px;

}

form{
max-width:420px;
}

label{
display:block;
margin-top:15px;
font-weight:bold;
}

input{
width:100%;
padding:12px;
margin-top:5px;
border-radius:8px;
border:1px solid #ccc;
}

/* PASSWORD */

.passwordRow{
display:flex;
gap:10px;
}

.passwordRow div{
flex:1;
}

.passwordBox{
display:flex;
}

.passwordBox input{
flex:1;
}

.passwordBox button{
width:70px;
}

/* BUTTONS */

button{

margin-top:20px;
width:100%;
padding:14px;
border:none;
background:#177f9e;
color:white;
font-size:16px;
border-radius:8px;
cursor:pointer;

}

button:hover{
background:#146a84;
}

.buttons{
display:flex;
flex-direction:column;
gap:10px;
margin-top:20px;
}

.btn2{
background:#ccc;
padding:12px;
text-align:center;
text-decoration:none;
border-radius:8px;
}

.btn3{
background:#ffb84d;
padding:12px;
text-align:center;
text-decoration:none;
border-radius:8px;
}

.signin{
margin-top:20px;
}

.signin a{
color:#177f9e;
text-decoration:none;
}

.miniLogo{
font-weight:bold;
}

.miniLogo2{
color:#177f9e;
}